
  <div class="col-xl-12 mt-2">
    <ag-grid-angular style=" height: 250px; width: 1200px;"
                     class="ag-theme-material"
                     [rowData]="brokerageList"
                     [pagination]="true"
                     [rowHeight]="31"
                     [columnDefs]="columnDefsBrok"
                     [defaultColDef]="agGridOptions.defaultColDef"
                     (cellClicked)="onBrokerageClick($event)"
                     headerHeight="34">
    </ag-grid-angular>
  </div>