<h2 class="heading">Add Item</h2>
<a (click)="close()" class="close-btn">
    <span class="material-symbols-outlined">
      <mat-icon>close</mat-icon>
    </span>
</a>
<form [formGroup]="itemForm" (ngSubmit)="onSubmit(itemForm.value)" fxLayout="row wrap" class="user-form">
    <div class="white-block pb-5">
        <h3><span>Item</span></h3>
        <div class="tab-party-details-parent">
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Exchange</mat-label>
                <mat-select placeholder="Select Tax" formControlName="ExId">
                  <mat-option *ngFor="let exchange of exchangeList" [value]="exchange.id">
                    {{exchange.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>Item Code</mat-label>
                    <input matInput autocomplete="off" placeholder="item Code" (input)="onItemCodeChange($event)" formControlName="itemCode" type="text" (blur)="populateFields()">
                    <mat-error *ngIf="itemForm.controls.itemCode.errors?.required">Item Code is required</mat-error>                
                </mat-form-field> 
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>Item Name</mat-label>
                    <input matInput autocomplete="off" placeholder="item Name" formControlName="itemName" type="text">
                    <mat-error *ngIf="itemForm.controls.itemName.errors?.required">Item Name is required</mat-error>                
                </mat-form-field> 
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>Exchange Symbol</mat-label>
                    <input matInput autocomplete="off" placeholder="Exchange Symbol" formControlName="exchangeSymbol" type="text">
                    <mat-error *ngIf="itemForm.controls.exchangeSymbol.errors?.required">Exchange Symbol is required</mat-error>                
                </mat-form-field> 
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>lot size value multiplier</mat-label>
                    <input matInput autocomplete="off" placeholder="lot size value multiplier" formControlName="lotSizeValueMultiplier" type="number" appCurrencyFormatter>
                    <mat-error *ngIf="itemForm.controls.lotSizeValueMultiplier.errors?.required">lot size value multiplier is required</mat-error>                
                </mat-form-field> 
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>Isin code</mat-label>
                    <input matInput autocomplete="off" placeholder="Isin code" formControlName="IsinCode" type="text">
                    <mat-error *ngIf="itemForm.controls.IsinCode.errors?.required">Isin Code is required</mat-error>                
                </mat-form-field> 
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="pt-5 pb-5 pl-10">
                <mat-checkbox formControlName="ApplyCtt">Apply Ctt</mat-checkbox>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="pt-5 pb-5 pl-10">
                <mat-checkbox formControlName="applyRiskManagementFees">Apply Risk Management Fees</mat-checkbox>
            </div>
        </div>
    </div>
    <div fxFlex="100" class="mt-2 text-center space-between-btns">
        <button mat-raised-button color="warn" type="button" (click)="close()">Cancel</button>            
        <button mat-raised-button color="primary" class="uppercase" [disabled]="!itemForm.valid" type="submit">Save</button> 
    </div>
</form>
