<form [formGroup]="itemForm" (ngSubmit)="onItemSubmit(itemForm.value)" fxLayout="row wrap" class="user-form">
    <div class="white-block pb-5">
        <h3><span>Item</span></h3>
        <div class="tab-party-details-parent">
            <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50">
                <div class="dropdown-wrapper">
                      <mat-form-field class="select-slab-mat" appearance="outline">
                        <mat-label>Select Exchange</mat-label>
                        <mat-select #select placeholder="Select Exchange" panelClass="custom-select-panel" formControlName="exId">
                          <input class="milti-search-box" #multiUserSearch type="text" autocomplete="off" matInput placeholder="Search Type" (input)="onInputExchangeChange($event)" />
                          <mat-option *ngFor="let option of filterExchangeList" [value]="option.id">
                            {{ option.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
            </div>
            
            <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                  <mat-label>FileCode</mat-label>
                  <input matInput autocomplete="off" placeholder="FileCode" formControlName="fileCode" type="text">
                  <mat-error *ngIf="itemForm.controls.fileCode.errors?.required">FileCode is required</mat-error>
                </mat-form-field>
              </div>
            
            
        </div>
    </div>
    <div fxFlex="100" class="mt-2 text-center space-between-btns">
        <button mat-raised-button color="warn" (click)="close()">Cancel</button>            
        <button mat-raised-button color="primary" class="uppercase" [disabled]="!itemForm.valid" type="submit">Save</button> 
    </div>
</form>
<div class="col-xl-12 mt-2">
  <ag-grid-angular style=" height: 250px;"
                   class="ag-theme-material"
                     [rowHeight]="31"
                   [rowData]="interestMasterList"
                   [pagination]="true"
                   [columnDefs]="columnItemDefs"
                   [defaultColDef]="agGridOptions.defaultColDef"
                   (cellClicked)="onGridClick($event)"
                   headerHeight="34">
  </ag-grid-angular>
</div>