// for npm roboto-fontface package (to load local files)
$roboto-font-path: "~roboto-fontface/fonts" !default;

@import "~ag-grid-community/styles//ag-grid.css";
@import "~ag-grid-community/styles//ag-theme-alpine.css";
@import "~roboto-fontface/css/roboto/sass/roboto-fontface";

// for npm material-icons package (to load local files)
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';


@import url('https://cdn.quilljs.com/1.2.2/quill.snow.css');
@import url('https://cdn.quilljs.com/1.2.2/quill.bubble.css');

// indigo-pink, deeppurple-amber, purple-green and pink-bluegrey.
@import '@angular/material/prebuilt-themes/indigo-pink.css';

@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/dragula/dist/dragula.min.css";
@import "../node_modules/@swimlane/ngx-datatable/themes/material.css";
@import "../node_modules/@swimlane/ngx-datatable/assets/icons.css";
@import "../node_modules/leaflet/dist/leaflet.css";

@import "app/theme/styles/base";
@import "app/theme/styles/theme";
@import "app/theme/styles/libs-override";
@import "app/theme/styles/rtl";

.ml-7 {
    margin-left: 7px;
}

.flex-end {
    justify-content: flex-end;
}
.action-button-edit, .action-button-red {
    background: transparent;
    border: none;
    margin-right: 7px;
    color: #ffb80a;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
}
.action-button-red {
    color: rgb(252, 3, 3);
}
#main-content .flex-p {
    padding: 0 !important;
}

.mat-tab-label-active {
    opacity: 1 !important;
    .mat-tab-label-content {
        color: #00695c;
    }
}
.app.teal-light 

.user-form {
    .mat-tab-group {
        min-width: 100%;
        .mat-tab-body-wrapper {
            margin: 0;
            .tab-party-details-parent, .tab-tax-details-parent {
                flex-wrap: wrap;
                .white-block {
                    background: #fff;
                    position: relative;
                    margin: 30px 0 0 0;
                    padding: 15px;
                    border: 1px solid #ccc;
                    -moz-border-radius: 7px;
                    -webkit-border-radius: 7px;
                    border-radius: 7px;
                    flex-wrap: wrap;
                    h3 {
                        background: #fff;
                        position: absolute;
                        color: #00695c;
                        font-size: 14px;
                        padding: 5px;
                        top: -15px;
                        left: 15px;
                    }
                }
                .mat-form-field {
                    width: 100%;
                    &.mat-form-field-appearance-outline {
                        .mat-form-field-wrapper {
                            margin: 0;
                            padding: 10px;
                        }
                    }
                    &.small {
                        width: 50%;
                    }
                }
                .mat-checkbox-checked {
                    &.mat-accent {
                        .mat-checkbox-background {
                            background: #00695c;
                        }
                    }
                }
            }
        }
    }
    .tab-party-details-parent, .tab-bank-details-parent {
        margin: 0;
        flex-wrap: wrap;
        .mat-form-field {
            width: 100%;
            &.mat-form-field-appearance-outline {
                .mat-form-field-wrapper {
                    margin: 0;
                    padding: 10px;
                }
            }
        }
    }
}