// for npm roboto-fontface package (to load local files)
$roboto-font-path: "~roboto-fontface/fonts" !default;

@import "~ag-grid-community/styles//ag-grid.css";
@import "~ag-grid-community/styles//ag-theme-alpine.css";
@import '~ag-grid-community/styles//ag-theme-material.css';
@import '~ag-grid-community/styles//ag-theme-balham.css';


@import "~roboto-fontface/css/roboto/sass/roboto-fontface";

// for npm material-icons package (to load local files)
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';


@import url('https://cdn.quilljs.com/1.2.2/quill.snow.css');
@import url('https://cdn.quilljs.com/1.2.2/quill.bubble.css');

// indigo-pink, deeppurple-amber, purple-green and pink-bluegrey.
@import '@angular/material/prebuilt-themes/indigo-pink.css';

@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/dragula/dist/dragula.min.css";
@import "../node_modules/@swimlane/ngx-datatable/themes/material.css";
@import "../node_modules/@swimlane/ngx-datatable/assets/icons.css";
@import "../node_modules/leaflet/dist/leaflet.css";

@import "app/theme/styles/base";
@import "app/theme/styles/theme";
@import "app/theme/styles/libs-override";
@import "app/theme/styles/rtl";

body {
    font-family: 'Montserrat', sans-serif !important;
}

.ml-7 {
    margin-left: 7px;
}
.ml-15 {
    margin-left: 15px;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.pl-10 {
    padding-left: 10px !important;
}
.pt-5 {
    padding-top: 5px !important;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.pb-5 {
    padding-bottom: 5px !important;
}
.pt-10 {
    padding-top: 10px;
}
.align-center {
    align-items: center !important;
}
.flex-end {
    justify-content: flex-end;
}
.action-button-edit, .action-button-red {
    background: transparent;
    border: none;
    margin-right: 7px;
    color: #ffb80a;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
}
.action-button-red {
    color: rgb(252, 3, 3);
}
#main-content .flex-p {
    padding: 0 !important;
}

.mat-tab-label-active {
    opacity: 1 !important;
    .mat-tab-label-content {
        color: #00695c;
    }
}
.mat-tab-label-content {
    height: 40px;
}
.mat-checkbox {
    .mat-checkbox-layout {
        font-size: 13px;
    }
}

.app {
  &.teal-light {
    .mat-radio-button {
      &.mat-accent {
        &.mat-radio-checked {
          .mat-radio-outer-circle {
            border-color: #00695c;
          }
        }

        .mat-radio-inner-circle {
          background-color: #00695c;
        }
      }
    }
    .ag-theme-alpine {
        .ag-header {
            height: 34px !important;
            min-height: 34px !important;
        }
        .ag-header-row {
            background: #9d9d9d;
            height: 34px !important;
        }
    }

    .mat-dialog-container {
        background: #fcfcfc;
        padding: 0;
        .heading {
            background: #00695c;
            color: #fff;
            font-size: 16px;
            padding: 12px 15px;
            font-weight: 500;
        }
        .user-form {
            padding: 15px;
        }
        .mat-tab-group {
            padding: 0 15px 15px 15px;
            .user-form {
                padding: 0;
            }
            .mat-tab-header {
                margin-bottom: 15px;
            }
        }
        .mat-dialog-content {
            margin: 0;
            padding: 0 0 15px 0;
        }
        .mat-dialog-actions {
            min-height: auto;
            margin-bottom: 0;
        }
        .error-message {
            min-width: 280px;
            border: 1px solid #ffd740;
            display: block;
            h1 {
                background: #ffd740;
                color: rgba(0, 0, 0, 0.75);
                font-size: 18px;
                padding: 10px 15px;;
                font-weight: 400;
                align-items: center;
                display: flex;
                .mat-icon {
                    margin-right: 7px;
                }
            }
            .content {
                padding: 24px;
            }
        }
    }
  }
}

.white-block {
    background: #fff;
    position: relative;
    margin: 30px 0 0 0;
    padding: 15px 10px;
    border: 1px solid #ccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    flex-wrap: wrap;
    &:first-child {
        margin-top: 10px;
    }
    h3 {
        position: absolute;
        color: #00695c;
        font-size: 14px;
        padding: 0 5px;
        top: -10px;
        left: 15px;
        span {
            position: relative;
        }
        &::before {
            content: '';
            background: #fff;
            width: 100%;
            height: 12px;
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
        }
    }
}

.small-logo {
    display: flex;
    img {
        height: 40px;
    }
}

.ag-theme-material {
    border: 1px solid #ddd;
    .ag-root-wrapper-body {
        .ag-header {
            .ag-header-row {
                .ag-header-cell {
                    .ag-header-cell-resize {
                        background: #ddd;
                        width: 6px;
                        height: 50%;
                        bottom: 0;
                        margin: auto;
                    }
                }
            }
        }
    }
}

.user-form {
    .mat-tab-group {
        min-width: 100%;
        .mat-tab-body-wrapper {
            margin: 0;
            .tab-party-details-parent, .tab-tax-details-parent {
                flex-wrap: wrap;
                .mat-form-field:not(.mat-form-field-appearance-legacy) {
                    .mat-form-field-prefix, .mat-form-field-suffix {
                        .mat-icon-button {
                            height: auto;
                        }
                    }
                }
                .mat-form-field {
                    width: 100%;
                    .mat-form-field-wrapper {
                        margin: 0;
                        padding: 5px 10px 15px 10px;
                    }
                    &.mat-form-field-appearance-outline {
                        .mat-form-field-label-wrapper {
                            top: 0;
                            margin-top: 0;
                            padding-top: 0;
                            .mat-form-field-label {
                                font-size: 13px;
                                top: 12px;
                                margin-top: 0;
                            }
                        }
                        .mat-form-field-flex {
                            padding-right: 0;
                        }
                        .mat-form-field-infix {
                            font-size: 13px;
                            padding: 12px 0 8px 0;
                            border: 0;
                        }
                        .mat-form-field-wrapper {
                            margin: 0;
                            padding: 5px 10px 15px 10px;
                        }
                        &.mat-form-field-can-float {
                            &.mat-form-field-should-float {
                                .mat-form-field-label {
                                    font-size: 10px;
                                    transform: translateY(-1.4em);
                                }
                            }
                            .mat-input-server:focus + .mat-form-field-label-wrapper {
                                .mat-form-field-label {
                                    font-size: 10px;
                                    transform: translateY(-1.4em);
                                }
                            }
                        }
                        .mat-form-field-subscript-wrapper {
                            margin: 0;
                            padding-left: 0;
                            top: calc(100% - 0.75rem);
                        }
                        .mat-form-field-suffix {
                            top: 0.4rem;
                        }
                    }
                    &.small {
                        width: 50%;
                    }
                }
                .mat-checkbox-checked {
                    &.mat-accent {
                        .mat-checkbox-background {
                            background: #00695c;
                        }
                    }
                }
            }
        }
    }
    .tab-party-details-parent, .tab-bank-details-parent {
        margin: 0;
        flex-wrap: wrap;
        .mat-form-field:not(.mat-form-field-appearance-legacy) {
            .mat-form-field-prefix, .mat-form-field-suffix {
                .mat-icon-button {
                    height: auto;
                }
            }
        }
        .mat-form-field {
            width: 100%;
            .mat-form-field-wrapper {
                margin: 0;
                padding: 5px 10px 15px 10px;
            }
            &.mat-form-field-appearance-outline {
                .mat-form-field-label-wrapper {
                    top: 0;
                    margin-top: 0;
                    padding-top: 0;
                    .mat-form-field-label {
                        font-size: 13px;
                        top: 12px;
                        margin-top: 0;
                    }
                }
                .mat-form-field-flex {
                    padding-right: 0;
                }
                .mat-form-field-infix {
                    font-size: 13px;
                    padding: 12px 0 8px 0;
                    border: 0;
                }
                .mat-form-field-wrapper {
                    margin: 0;
                    padding: 5px 10px 15px 10px;
                }
                &.mat-form-field-can-float {
                    &.mat-form-field-should-float {
                        .mat-form-field-label {
                            font-size: 10px;
                            transform: translateY(-1.4em);
                        }
                    }
                    .mat-input-server:focus + .mat-form-field-label-wrapper {
                        .mat-form-field-label {
                            font-size: 10px;
                            transform: translateY(-1.4em);
                        }
                    }
                }
                .mat-form-field-subscript-wrapper {
                    margin: 0;
                    padding-left: 0;
                    top: calc(100% - 0.75rem);
                }
                .mat-form-field-suffix {
                    top: 0.4rem;
                }
                .mat-select-arrow-wrapper {
                    transform: inherit;
                }
            }
            &.small {
                width: 50%;
            }
        }
        .mat-checkbox-checked {
            &.mat-accent {
                .mat-checkbox-background {
                    background: #00695c;
                }
            }
        }
    }
}

/* ----------------------- Brokerage slab ----------------------- */
.icon-btn {
    .mat-button-wrapper {
        align-items: center;
        display: flex;
        .mat-icon {
            margin-right: 7px;
        }
    }
}
.dropdown-container {
    display: flex;
    align-items: flex-start;
    .dropdown-wrapper {
      margin-right: 8px; /* Adjust the margin to match the spacing between elements */
        .mat-form-field {
            .mat-form-field-wrapper {
                margin: 0;
                padding-bottom: 0;
            }       
        }
        .mat-form-field-appearance-outline {
            .mat-form-field-infix {
                padding: 4px 0 10px 0;
            }
            .mat-form-field-label {
                top: 19px;
            }
            &.mat-form-field-can-float {
                &.mat-form-field-should-float {
                    .mat-form-field-label {
                        transform: translateY(-1em) scale(0.75) !important;
                    }
                }
                .mat-input-server:focus + .mat-form-field-label-wrapper {
                    .mat-form-field-label {
                        transform: translateY(-1em) scale(0.75) !important;
                    }
                }
            }
        }
    }
}

.ag-header-cell-label .ag-header-cell-text
{
    white-space:normal!important;

}
.ag-header-cell-text {
  font-size:10px;
  font-weight:700;
}


//ag-row-no-focus ag-row ag-row-level-0 ag-row-position-absolute ag-row-last
