<h2 class="heading">Change Password</h2>
<a (click)="close()" class="close-btn">
  <span class="material-symbols-outlined">
    <mat-icon>close</mat-icon>
  </span>
</a>
<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm.value)" fxLayout="row wrap" class="user-form">
  <div class="white-block pb-5">
    <h3><span>Item</span></h3>
    <div class="tab-party-details-parent">
      <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Current Password</mat-label>
            <input matInput autocomplete="off" placeholder="Current Password" formControlName="CurrentPassword" type="password">
          </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>New Password</mat-label>
            <input matInput autocomplete="off" placeholder="New Password" formControlName="NewPassword" type="password">
          </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Confirm Password</mat-label>
            <input matInput autocomplete="off" placeholder="Confirm Password" formControlName="ConfirmPassword" type="password">
          </mat-form-field>
      </div>
    </div>
  </div>
  <div fxFlex="100" class="mt-2 text-center space-between-btns">
    <button mat-raised-button color="warn" (click)="close()">Cancel</button>            
    <button mat-raised-button color="primary" class="uppercase" [disabled]="!changePasswordForm.valid" type="submit">Save</button> 
  </div>
</form>