
  
  .dropdown-wrapper select {
    height: 100%;
    width: 100%;
  }
  
  .custom-select {
    width: 200px; /* Set the desired width */
    height: 36px; /* Set the desired height */
  }

  .custom-select-panel {
    max-height: 250px; /* Set the desired max height for the select box */
  }
  