
  
  .dropdown-wrapper select {
    height: 100%;
    width: 100%;
  }
  
  .custom-select {
    width: 200px; /* Set the desired width */
    height: 36px; /* Set the desired height */
  }

  .delete-slab {
    background: #dc3545 !important;
    color: #fff !important;
    margin-left: 10px;
  }
  .custom-select-panel {
    max-height: 250px; /* Set the desired max height for the select box */
  }
  