<app-update-voucher (getGridVouList)="getVoucherList($event)" [vouType]="'voucher'" [editMasterId]="editMasterId" (onSaveAndClearFnCall)="onSaveAndClearFnCall()"></app-update-voucher>
<div class="col-xl-12 mt-2 position-relative">
  <span class="material-symbols-outlined delete-icon" (click)="deleteVochers()">
    <mat-icon>delete_sweep</mat-icon>
  </span>
  <ag-grid-angular style=" height: 480px;"
                class="ag-theme-material mt-2 entry-voucher"
                [rowData]="vocherGridData"
                [pagination]="true"
                [rowHeight]="31"
                [columnDefs]="columnDefs"
                [rowSelection]="'multiple'"
                [rowMultiSelectWithClick]="true"
                [defaultColDef]="agGridOptions.defaultColDef"
                (gridReady)="onGridReady($event)"
                (cellClicked)="onGridClick($event)"
                headerHeight="34">
  </ag-grid-angular>
</div>


