<h2 class="heading mb-0">Add Product</h2>
<form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)" fxLayout="row wrap" class="user-form">
    <div class="white-block pb-5">
        <h3>Product</h3>
        <div class="tab-party-details-parent">
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Exchange</mat-label>
                    <mat-select placeholder="" formControlName="ExId">
                        <mat-option *ngFor="let exchange of exchangeList" [value]="exchange.id">
                          {{exchange.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>Symbol</mat-label>
                    <input matInput autocomplete="off" placeholder="" formControlName="symbol" type="text">
                    <mat-error *ngIf="productForm.controls.symbol.errors?.required">Symbol is required</mat-error>                
                </mat-form-field> 
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>Price Unit</mat-label>
                    <input matInput autocomplete="off" placeholder="" formControlName="priceUnit" type="text">
                    <mat-error *ngIf="productForm.controls.priceUnit.errors?.required">Price unit is required</mat-error>                
                </mat-form-field> 
            </div>
            <div fxFlex="100" fxFlex.gt-sm="40" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <input matInput autocomplete="off" placeholder="" formControlName="description" type="text">
                    <mat-error *ngIf="productForm.controls.description.errors?.required">Description is required</mat-error>                
                </mat-form-field> 
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>Lot Size</mat-label>
                    <input matInput autocomplete="off" placeholder="" formControlName="lotSize" type="text">
                    <mat-error *ngIf="productForm.controls.lotSize.errors?.required">lot size is required</mat-error>                
                </mat-form-field> 
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>Isin Size</mat-label>
                    <input matInput autocomplete="off" placeholder="" formControlName="isincode" type="text">
                    <mat-error *ngIf="productForm.controls.isincode.errors?.required">isincode is required</mat-error>                
                </mat-form-field> 
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>Qty Unit</mat-label>
                    <input matInput autocomplete="off" placeholder="" formControlName="qtyUnit" type="text">
                    <mat-error *ngIf="productForm.controls.qtyUnit.errors?.required">Qty Unit is required</mat-error>                
                </mat-form-field> 
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>Security Group</mat-label>
                    <input matInput autocomplete="off" placeholder="" formControlName="securityGroup" type="text">
                    <mat-error *ngIf="productForm.controls.securityGroup.errors?.required">security Group is required</mat-error>                
                </mat-form-field> 
            </div>
        </div>
    </div>
    <div fxFlex="100" class="mt-2 text-center space-between-btns">
        <button mat-raised-button color="warn" (click)="close()">Cancel</button>            
        <button mat-raised-button color="primary" class="uppercase" type="submit">Save</button> 
    </div>
</form>