<div class="row">
    <div fxLayout="row" class="mt-2 flex-end">
      <button mat-raised-button color="accent" (click)="inviteUserDialog(null)" class="icon-btn ml-15 create-user">
        <mat-icon>add</mat-icon> Create User
      </button>
    </div>
</div>
<mat-tab-group class="user-tab">
  <mat-tab label="Users">
    <div class="col-xl-12 mt-2">
      <ag-grid-angular style=" height: 535px;"
                        class="ag-theme-material"
                        [rowHeight]="31"
                        [rowData]="userList"
                        [pagination]="true"
                        [columnDefs]="columnDefs"
                        [defaultColDef]="agGridOptions.defaultColDef"
                        (cellClicked)="onGridClick($event)"
                        headerHeight="34">
      </ag-grid-angular>
    </div>
  </mat-tab>
  <mat-tab label="Roles" (click)="getUserrolesList()">
    Roles
  </mat-tab>
</mat-tab-group>