<div class="row">
  <div fxLayout="row" class="mt-2 flex-end">
    <button mat-raised-button color="accent" (click)="openCompanyDialog(null)">
      <mat-icon>assignment</mat-icon> Add ContractMaster
    </button>
  </div>
  <div class="col-xl-12 mt-2">
    <ag-grid-angular style=" height: 535px;"
                     class="ag-theme-material"
                     [rowData]="contractList"
                     [pagination]="true"
                      [rowHeight]="31"
                     [columnDefs]="columnDefs"
                     [defaultColDef]="agGridOptions.defaultColDef"
                     (cellClicked)="onGridClick($event)">
    </ag-grid-angular>
  </div>
</div>  
