<div class="row paret-form">
  <div fxLayout="row" fxLayoutAlign="space-between" class="mt-2">
    <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
      <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Exchange</mat-label>
          <mat-select placeholder="" [(ngModel)]="selectedExId" (selectionChange)="onBranchChange($event)">
              <mat-option *ngFor="let exchange of exchangeList" [value]="exchange.id">
                {{exchange.name}}
              </mat-option>
          </mat-select>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" class="icon-btn">
        <mat-icon>file_download</mat-icon> 
        Export
      </button>
      <button mat-raised-button color="accent" (click)="openCompanyDialog(null)" class="icon-btn ml-15">
        <mat-icon>add</mat-icon> Add ContractMaster
      </button>
    </div>
  </div>
  <div class="col-xl-12 mt-2">
    <ag-grid-angular style=" height: 535px;"
                     class="ag-theme-material"
                     [rowData]="contractList"
                     [pagination]="true"
                      [rowHeight]="31"
                     [columnDefs]="columnDefs"
                     [defaultColDef]="agGridOptions.defaultColDef"
                     (cellClicked)="onGridClick($event)"
                     headerHeight="34">
    </ag-grid-angular>
  </div>
</div>  
