<h2 class="heading">Add Contract Master</h2>
<form [formGroup]="contractForm" (ngSubmit)="onSubmit(contractForm.value)" fxLayout="row wrap" class="user-form">
    <div class="white-block pb-5">
        <h3>Contract Master</h3>
        <div class="tab-party-details-parent">
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Exchange</mat-label>
                    <mat-select placeholder="" formControlName="ExId">
                        <mat-option *ngFor="let exchange of exchangeList" [value]="exchange.id">
                          {{exchange.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>Symbol</mat-label>
                    <input matInput autocomplete="off" placeholder="" formControlName="symbol" type="text">
                    <mat-error *ngIf="contractForm.controls.symbol.errors?.required">symbol is required</mat-error>                
                </mat-form-field> 
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>Strike Price</mat-label>
                    <input matInput autocomplete="off" placeholder="" formControlName="strikePrice" type="text">
                    <mat-error *ngIf="contractForm.controls.strikePrice.errors?.required">Strike Price is required</mat-error>                
                </mat-form-field> 
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Instrument Type</mat-label>
                    <mat-select placeholder="" formControlName="instrumentType">
                        <mat-option *ngFor="let instrumentType of InstrumentTypeList" [value]="instrumentType.id">
                          {{instrumentType.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Option Type</mat-label>
                    <mat-select placeholder="" formControlName="optionType">
                        <mat-option *ngFor="let optionType of OptionTypeList" [value]="optionType.id">
                          {{optionType.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>Tradeable Lot</mat-label>
                    <input matInput autocomplete="off" placeholder="" formControlName="tradeableLot" type="text">
                    <mat-error *ngIf="contractForm.controls.tradeableLot.errors?.required">Tradeable Lot is required</mat-error>                
                </mat-form-field> 
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>Maturity</mat-label>
                    <input matInput [matDatepicker]="Maturity" formControlName="maturity">
                    <mat-datepicker-toggle matSuffix [for]="Maturity"></mat-datepicker-toggle>
                    <mat-datepicker #Maturity></mat-datepicker>
                </mat-form-field>                  
            </div>
        </div>
    </div>
    <div fxFlex="100" class="mt-2 text-center space-between-btns">
        <button mat-raised-button color="warn" (click)="close()">Cancel</button>            
        <button mat-raised-button color="primary" class="uppercase" type="submit">Save</button> 
    </div>
</form>