<h2 class="heading mb-10">Add Tax</h2>
<mat-tab-group>
    <mat-tab label="Tax">
        <form [formGroup]="taxMasterForm" (ngSubmit)="onSubmit(taxMasterForm.value)" fxLayout="row wrap" class="user-form">
            <div class="tab-party-details-parent">
                <div class="white-block pb-0">
                    <h3><span>Tax Details</span></h3>
                    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50">
                        <mat-form-field appearance="outline">
                          <mat-label>Name</mat-label>
                          <input matInput autocomplete="off" placeholder="name" formControlName="name" type="text">
                          <mat-error *ngIf="taxMasterForm.controls.name.errors?.required">Name is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>ApplyOn</mat-label>
                            <mat-select placeholder="" formControlName="appliedOn">
                                <mat-option *ngFor="let apply of applyOnList" [value]="apply.id">
                                  {{apply.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div fxFlex="100" class="mt-2 text-center space-between-btns">
                <button mat-raised-button color="warn" type="button" (click)="close()">Cancel</button>
                <button mat-raised-button color="primary" class="uppercase" [disabled]="!taxMasterForm.valid" type="submit">Save</button>
            </div>
        </form>
    </mat-tab>
    <mat-tab label="Account Tax " (click)="checkTaxSelect()">
        <form [formGroup]="taxForm" (ngSubmit)="onAccountTaxSubmit(taxForm.value)" fxLayout="row wrap" class="user-form">
            <div class="tab-party-details-parent">
                <div class="white-block pb-0">
                    <h3><span>{{selectedName}} Tax</span></h3>
                    <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="33.33">
                        <div class="dropdown-wrapper">
                            <mat-form-field class="select-slab-mat" appearance="outline">
                              <mat-label>Select Account</mat-label>

                              <mat-select #select multiple placeholder="Select Account" panelClass="custom-select-panel" formControlName="accounts">
                                <input class="milti-search-box" #multiUserSearch type="text" autocomplete="off" matInput placeholder="Search Account" (input)="onInputChange($event)" />
                                <mat-option value=-1 (click)="accountAllSelection()">Select All</mat-option>
                                <mat-option *ngFor="let option of accountList" [value]="option.id">
                                  {{ option.name }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    
                    <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="33.33">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Apply On</mat-label>
                            <mat-select placeholder="Select ApplyOn" formControlName="applyOn">
                              <mat-option *ngFor="let DDL of accountApplyOnList" [value]="DDL.id">
                                {{DDL.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                </div>
            </div>
            <div fxFlex="100" class="mt-2 text-center space-between-btns">
                <button mat-raised-button color="warn" type="button" (click)="close()">Cancel</button>
                <button mat-raised-button color="primary" class="uppercase" [disabled]="!taxForm.valid" type="submit">Save</button>
            </div>
        </form>
        <div class="col-xl-12 mt-2 position-relative">
            <span class="material-symbols-outlined delete-icon" (click)="deleteAccountTax()">
              <mat-icon>delete_sweep</mat-icon>
            </span>
            <ag-grid-angular style=" height: 240px;"
                          class="ag-theme-material mt-2"
                          [rowData]="accountTaxList"
                          [pagination]="true"
                          [rowHeight]="31"
                          [columnDefs]="columnDefs"
                          [rowSelection]="'multiple'"
                          [rowMultiSelectWithClick]="true"
                          [defaultColDef]="agGridOptions.defaultColDef"
                          (cellClicked)="onGridClick($event)"
                          (gridReady)="onGridReady($event)"
                          (selectionChanged)="checkSelectedRow($event)"
                          headerHeight="34">
            </ag-grid-angular>
        </div>
    </mat-tab>
</mat-tab-group>
