.white-block {
    background: #fff;
    position: relative;
    margin: 30px 0 0 0;
    padding: 15px 10px;
    border: 1px solid #ccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    flex-wrap: wrap;
}
.white-block h3 {
    background: #fff;
    position: absolute;
    color: #00695c;
    font-size: 14px;
    padding: 5px;
    top: -15px;
    left: 15px;
}