<h2 class="heading">Add Company</h2>
<a (click)="close()" class="close-btn">
    <span class="material-symbols-outlined">
      <mat-icon>close</mat-icon>
    </span>
</a>
<form [formGroup]="companyForm" (ngSubmit)="onSubmit(companyForm.value)" fxLayout="row wrap" class="user-form">
    <div class="white-block pb-5">
        <h3><span>Company Details</span></h3>
        <div class="tab-party-details-parent">
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput autocomplete="off" placeholder="Name" formControlName="name" type="text">
                    <mat-error *ngIf="companyForm.controls.name.errors?.required">Name is required</mat-error>                
                </mat-form-field> 
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>address</mat-label>
                    <input matInput autocomplete="off" placeholder="address" formControlName="address" type="text">
                    <mat-error *ngIf="companyForm.controls.address.errors?.required">Address is required</mat-error>                
                </mat-form-field> 
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <input matInput autocomplete="off" placeholder="city" formControlName="city" type="text">
                    <mat-error *ngIf="companyForm.controls.city.errors?.required">City is required</mat-error>                
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>Financial Year Begin</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="finBeginDt">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>                  
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>Financial Year End</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="finEndDt">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>                  
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>State</mat-label>
                    <input matInput autocomplete="off" placeholder="state" formControlName="state" type="text">
                    <mat-error *ngIf="companyForm.controls.state.errors?.required">State is required</mat-error>                
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput autocomplete="off" placeholder="Phone" formControlName="phone" type="text">
                    <mat-error *ngIf="companyForm.controls.phone.errors?.required">Add is required</mat-error>                
                </mat-form-field> 
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput autocomplete="off" placeholder="Email" formControlName="email" type="text">
                    <mat-error *ngIf="companyForm.controls.email.errors?.required">Email is required</mat-error>                
                </mat-form-field> 
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>Pin</mat-label>
                    <input matInput autocomplete="off" placeholder="Pin" formControlName="pin" type="text">
                    <mat-error *ngIf="companyForm.controls.pin.errors?.required">Pin is required</mat-error>                
                </mat-form-field> 
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>Unique customer id</mat-label>
                    <input matInput autocomplete="off" placeholder="Unique customer id" formControlName="uniqcusomerId" type="text">
                    <mat-error *ngIf="companyForm.controls.uniqcusomerId.errors?.required">Unique customer id is required</mat-error>                
                </mat-form-field> 
            </div>
        </div>        
    </div>
    <div class="white-block">
        <h3><span>Company Settings</span></h3>
        <div class="tab-party-details-parent align-center">
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="pt-5 pb-5 pl-10">
                <mat-checkbox formControlName="ApplyOptionsMTM">ApplyOptionsMTM</mat-checkbox>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="pt-5 pb-5 pl-10">
                <mat-checkbox formControlName="ApplyCashMTM">ApplyCashMTM</mat-checkbox>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="pt-5 pb-5 pl-10">
                <mat-checkbox formControlName="ApplyInvoice">ApplyInvoice</mat-checkbox>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="pt-5 pb-5 pl-10">
                <mat-checkbox formControlName="ApplyOnlyBrokerage">ApplyOnlyBrokerage</mat-checkbox>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="pt-5 pb-5 pl-10">
                <mat-checkbox formControlName="ApplySubBrokerage">ApplySubBrokerage</mat-checkbox>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="pt-5 pb-5 pl-10">
                <mat-checkbox formControlName="CheckRates">CheckRates</mat-checkbox>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="pt-5 pb-5 pl-10">
                <mat-checkbox formControlName="ShowLots">ShowLots</mat-checkbox>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="pt-5 pb-5 pl-10">
                <mat-checkbox formControlName="ApplySharing">ApplySharing</mat-checkbox>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="pt-5 pb-5 pl-10">
                <mat-checkbox formControlName="ApplyDecimalQty">ApplyDecimalQty</mat-checkbox>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="pt-5 pb-5 pl-10">
                <mat-checkbox formControlName="ApplyMargin">ApplyMargin</mat-checkbox>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="pt-5 pb-5 pl-10">
                <mat-checkbox formControlName="ApplyContractNote">ApplyContractNote</mat-checkbox>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="pt-5 pb-5 pl-10">
                <mat-checkbox formControlName="RoundingOff">RoundingOff</mat-checkbox>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="pt-5 pb-5 pl-10">
                <mat-checkbox formControlName="RateRangeEnable">RateRangeEnable</mat-checkbox>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="pt-10">
                <mat-form-field appearance="outline">
                    <mat-label>Settlement Positing in %</mat-label>
                    <input matInput autocomplete="off" placeholder="" formControlName="settlementPostingInPercentage" type="number">
                    <mat-error *ngIf="companyForm.controls.settlementPostingInPercentage.errors?.required">Settlement Positing in % id is required</mat-error>                
                </mat-form-field>
            </div>
        </div>
    </div>
    <div fxFlex="100" class="mt-2 text-center space-between-btns">
        <button mat-raised-button color="warn" (click)="close()">Cancel</button>            
        <button mat-raised-button color="primary" class="uppercase" type="submit">Save</button> 
    </div>
</form>
