<div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
    <div class="dropdown-wrapper">
        <mat-form-field class="select-slab-mat" appearance="outline">
          <mat-label>Select Account</mat-label>
          <mat-select #select placeholder="Select Account" panelClass="custom-select-panel" formControlName="accountId">
            <input class="milti-search-box" #multiUserSearch type="text" autocomplete="off" matInput placeholder="Search Account" (input)="onInputChange($event)" />
            <mat-option *ngFor="let option of filteredOptions" [value]="option.id" (change)="toggleSelection(option)">
              {{ option.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
</div>