.save-btn{
    margin-right: 10px;
}
.remove-bottom{
    margin-bottom: 0px !important;
}

.trade-form{
   width: 100%;
   .trade-form-div{
    width: 100%;
   }
}

.trade-number {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lot-size {
    margin-left: 20px;
}