 <h2 class="heading mb-0">Sauda Master</h2>
<form [formGroup]="saudaForm" (ngSubmit)="onSubmit(saudaForm.value)" fxLayout="row wrap" class="user-form">
    <div class="white-block pb-5">
        <h3><span>Sauda Master Details</span></h3>
        <div class="tab-party-details-parent">
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Item</mat-label>
              
                <mat-select placeholder="Select Item" formControlName="itemId">
                  <!--<input (keyup)="onKey($event.target.value)">-->
                  <mat-option *ngFor="let item of itemList" [value]="item.id">
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>Sauda Code</mat-label>
                    <input matInput autocomplete="off" placeholder="" formControlName="saudaCode" type="text">
                    <mat-error *ngIf="saudaForm.controls.saudaCode.errors?.required">saudaCode is required</mat-error>                
                </mat-form-field> 
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>Maturity</mat-label>
                    <input matInput [matDatepicker]="Maturity" formControlName="maturity" >
                    <mat-datepicker-toggle matSuffix [for]="Maturity"></mat-datepicker-toggle>
                    <mat-datepicker #Maturity></mat-datepicker>
                </mat-form-field>                  
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Instrument Type</mat-label>
                <mat-select placeholder="Select InsType" formControlName="instrumentType">
                  <mat-option *ngFor="let exchange of instrumentList" [value]="exchange.id">
                    {{exchange.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Option Type</mat-label>
                <mat-select placeholder="Select Option" formControlName="optionType">
                  <mat-option *ngFor="let option of optionType" [value]="option.id">
                    {{option.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>Strike Price</mat-label>
                    <input matInput autocomplete="off" placeholder="" formControlName="strikePrice" type="number">
                    <mat-error *ngIf="saudaForm.controls.strikePrice.errors?.required">strikePrice is required</mat-error>                
                </mat-form-field> 
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>First Trading Date</mat-label>
                    <input matInput [matDatepicker]="FirstTradingDate" formControlName="firstTradingDate">
                    <mat-datepicker-toggle matSuffix [for]="FirstTradingDate"></mat-datepicker-toggle>
                    <mat-datepicker #FirstTradingDate></mat-datepicker>
                </mat-form-field>                  
            </div>
            <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
                <mat-form-field appearance="outline">
                    <mat-label>Last Trading Date</mat-label>
                    <input matInput [matDatepicker]="LastTradingDate" formControlName="lastTradingDate" >
                    <mat-datepicker-toggle matSuffix [for]="LastTradingDate"></mat-datepicker-toggle>
                    <mat-datepicker #LastTradingDate></mat-datepicker>
                </mat-form-field>                  
            </div>
        </div>
    </div>
    <div fxFlex="100" class="mt-2 text-center space-between-btns">
        <button mat-raised-button color="warn" (click)="close()">Cancel</button>            
        <button mat-raised-button color="primary" class="uppercase" [disabled]="!saudaForm.valid" type="submit">Save</button> 
    </div>
</form>
