.save-button {
    max-width: 66px;
}

.import-btn-item{
    margin-right: 10px;
}

.parent-row-import{
    display: flex;
    justify-content: space-between;
}
.left-align{
    margin-right: 10px;
}

.parent-child{
    width: 45%;
}