.logo-img {
    height: 50px;
}

.login {
    &.box {
        .box-header {
            height: 156px;
            padding-bottom: 30px;
        }
        .box-content {
            height: 216px;
            .box-content-inner {
                height: 216px;
                padding: 16px 24px;
            }
        }
    }
    .forgot-password {
        a {
            font-size: 13px;
        }
    }
}