<h2 class="heading mb-10">Branch</h2>
<a (click)="close()" class="close-btn">
  <span class="material-symbols-outlined">
    <mat-icon>close</mat-icon>
  </span>
</a>
<mat-tab-group>
  <mat-tab label="Branch">
    <form [formGroup]="branchForm" (ngSubmit)="onSubmit(branchForm.value)" fxLayout="row wrap" class="user-form">
        <div class="tab-party-details-parent">
          <div class="white-block pb-0">
            <h3><span>Branch</span></h3>
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="33.33">
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput autocomplete="off" placeholder="item Name" formControlName="name" type="text">
                <mat-error *ngIf="branchForm.controls.name.errors?.required">Branch Name is required</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="33.33">
              <div class="dropdown-wrapper">
                <mat-form-field class="select-slab-mat" appearance="outline">
                  <mat-label>Select Head</mat-label>
                  <mat-select #select placeholder="Select Head" panelClass="custom-select-panel" formControlName="headId">
                    <input class="milti-search-box" #multiUserSearch type="text" autocomplete="off" matInput placeholder="Search Head" (input)="onInputChange($event)" />
                    <mat-option *ngFor="let option of filteredHeadList" [value]="option.id">
                      {{ option.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="33.33">
              <div class="dropdown-wrapper">
                <mat-form-field class="select-slab-mat" appearance="outline">
                  <mat-label>Contra Id</mat-label>
                  <mat-select #select placeholder="Select Contra Id" panelClass="custom-select-panel" formControlName="contraAcId">
                    <input class="milti-search-box" #multiUserSearch type="text" autocomplete="off" matInput placeholder="Search Contra Id" (input)="onInputChange($event)" />
                    <mat-option *ngFor="let option of filteredHeadList" [value]="option.id">
                      {{ option.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="33.33">
              <mat-form-field appearance="outline">
                <mat-label>Chat Id</mat-label>
                <input matInput autocomplete="off" placeholder="Chat Id" formControlName="chatid" type="text">
                <mat-error *ngIf="branchForm.controls.chatid.errors?.required">Chat Id is required</mat-error>
              </mat-form-field>
            </div>
          </div>          
        </div>
        <div fxFlex="100" class="mt-2 text-center space-between-btns">
          <button mat-raised-button color="warn" type="button" (click)="close()">Cancel</button>
          <button mat-raised-button color="primary" class="uppercase" [disabled]="!branchForm.valid" type="submit">Save</button>
        </div>
    </form>
  </mat-tab>
  <mat-tab label="Account">
    <div class="row branch-account">
      <div fxFlex="40">        
        <ag-grid-angular style=" height: 300px;"
                         class="ag-theme-material mt-2"
                         [rowData]="accountList"
                         [pagination]="true"
                         [rowHeight]="31"
                         [columnDefs]="columnDefsSelectAc"
                         [rowSelection]="'multiple'"
                         [rowMultiSelectWithClick]="true"
                         [defaultColDef]="agGridOptions.defaultColDef"
                        
                         (gridReady)="onGridReadySelectAc($event)"
                         (selectionChanged)="checkSelectedRowSelectAc($event)"
                         headerHeight="34">
        </ag-grid-angular>
      </div>
      <div fxFlex="15" class="text-center">
        <div class="pt-10 mb-10">
          <button mat-raised-button (click)="selectAccounts()" color="primary" type="button">
            <mat-icon>
              <span class="material-symbols-outlined">
                arrow_forward_ios
              </span>
            </mat-icon>
          </button>
        </div>
        <button mat-raised-button color="warn" (click)="removeAccounts()" type="button">
          <mat-icon>
            <span class="material-symbols-outlined">
              arrow_back_ios
            </span>
          </mat-icon>
        </button>
      </div>
      <div fxFlex="45">
        <!--<span class="material-symbols-outlined delete-icon">
          <mat-icon>delete_sweep</mat-icon>
        </span>-->
        <ag-grid-angular style=" height: 300px;"
                         class="ag-theme-material mt-2"
                         [rowData]="branchIDAccountList"
                         [pagination]="true"
                         [rowHeight]="31"
                         [columnDefs]="columnDefs"
                         [rowSelection]="'multiple'"
                         [rowMultiSelectWithClick]="true"
                         [defaultColDef]="agGridOptions.defaultColDef"
                         (gridReady)="onGridReady($event)"
                         (selectionChanged)="checkSelectedRow($event)"
                         headerHeight="34">
        </ag-grid-angular>
      </div>
    </div>
      
      


  </mat-tab>
</mat-tab-group>        

