<div class="row">
    <div fxLayout="row" class="mt-2 flex-end">
      <button mat-raised-button color="accent" (click)="openExchangeDialog(null)" class="icon-btn ml-15">
        <mat-icon>add</mat-icon> Add Exchange
      </button>
    </div>
    <div class="col-xl-12 mt-2">
        <ag-grid-angular style=" height: 535px;"
                         class="ag-theme-material"
                           [rowHeight]="31"
                         [rowData]="exchangeList"
                         [pagination]="true"
                         [columnDefs]="columnDefs"
                         [defaultColDef]="agGridOptions.defaultColDef"
                         (cellClicked)="onGridClick($event)"
                         headerHeight="34">
        </ag-grid-angular>
      </div>
  </div>