<div class="row">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-2">
    <div class="dropdown-container">
      <div class="dropdown-wrapper">
        <mat-form-field class="select-slab-mat" appearance="outline">
          <mat-label>Select Branch</mat-label>
          <mat-select #select  [(ngModel)]="branchIds" multiple placeholder="Select Branch" (selectionChange)="onBranchChange($event)" panelClass="custom-select-panel">
            <input class="milti-search-box" #multiUserSearch type="text" autocomplete="off" matInput placeholder="Search By Provider" (input)="onInputChange($event)"/>
            <mat-option value=0 (click)="branchAllSelection()">Select All</mat-option>
            <mat-option *ngFor="let option of filteredProviders" [value]="option.id">
              {{ option.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="dropdown-wrapper">
        <mat-form-field class="select-slab-mat" appearance="outline">
          <mat-label>Select Account</mat-label>
          
          <mat-select #selectAccount [(ngModel)]="accountIds" multiple placeholder="Select Account" panelClass="custom-select-panel">
            <mat-option value=0 (click)="accountAllSelection()">Select All</mat-option>

            <mat-option *ngFor="let option of accountList" [value]="option.id">
              {{ option.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      </div>


      <div class="dropdown-container">
        <div class="dropdown-wrapper">
          <mat-form-field class="select-slab-mat" appearance="outline">
            <mat-label>Select Slab</mat-label>
            <mat-select [(ngModel)]="slabId" placeholder="Select Slab" panelClass="custom-select-panel">
              <mat-option *ngFor="let option of slabList" [value]="option.id">
                {{ option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button mat-raised-button color="accent" (click)="applySlab(null)">
          Apply Slab
        </button>

      </div>
      <div>
        <button mat-raised-button color="primary" class="delete-slab icon-btn" (click)="openDeleteSlabDialog()">
          <mat-icon>
            <span class="material-icons-outlined">        
              file_download
            </span>
          </mat-icon> 
          Export
        </button>
        <button mat-raised-button color="accent" (click)="openSlabDetailsDialog(null)" class="icon-btn ml-15">
          <mat-icon>add</mat-icon> Add Brokerage
        </button>
      </div>
    </div>
    <div class="col-xl-12 mt-2">
      <ag-grid-angular style=" height: 535px;"
                       class="ag-theme-material"
                       [rowData]="brokeragesetupList"
                       [pagination]="true"
                       [rowHeight]="31"
                       [columnDefs]="columnDefs"
                       [defaultColDef]="agGridOptions.defaultColDef"
                       (cellClicked)="onGridClick($event)"
                       (gridReady)="onGridReady($event)"
                        headerHeight="34">
      </ag-grid-angular>
    </div>
  </div>  
