<h2 class="heading mb-10">Add Account</h2>
<mat-tab-group>
  <mat-tab label=" Details">
    <form [formGroup]="personalForm" (ngSubmit)="onSubmit(personalForm.value)" fxLayout="row wrap" class="user-form">
      <div class="tab-party-details-parent">
        <div class="white-block pb-5">
          <h3>Account</h3>
          <div fxFlex="100" fxFlex.gt-sm="12" fxFlex.sm="12">
            <mat-form-field appearance="outline">
              <mat-label>Short Code</mat-label>
              <input matInput autocomplete="off" placeholder="ShortCode" formControlName="ShortCode" type="text">
              <mat-error *ngIf="personalForm.controls.ShortCode.errors?.required">ShortCode is required</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput autocomplete="off" placeholder="Name" formControlName="Name" type="text">
              <mat-error *ngIf="personalForm.controls.Name.errors?.required">Name is required</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="28" fxFlex.sm="25">
            <mat-form-field appearance="outline" class="small">
              <mat-label>Opening Bal</mat-label>
              <input matInput autocomplete="off" placeholder="OpeningBal" formControlName="OpeningBal" type="text">
              <mat-error *ngIf="personalForm.controls.OpeningBal.errors?.required">OpeningBal is required</mat-error>
            </mat-form-field>
            <mat-radio-group formControlName="DrCr">
              <mat-radio-button value="1" class="mx-1 pl-10" checked>Dr.</mat-radio-button>
              <mat-radio-button value="2" class="ml-15">Cr.</mat-radio-button>
            </mat-radio-group>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="15" fxFlex.sm="50">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Account Group</mat-label>
              <input matInput
                     aria-label="ACGroup"
                     [matAutocomplete]="auto1"
                     [formControl]="acGroupCtrl"
                     formControlName="AcGroup" />
              <mat-error *ngIf="personalForm.controls.AcGroup.errors?.required">Please select ACGroup</mat-error>
              <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="onGroupChange($event.option.value)">
                <mat-option *ngFor="let acGroupObj of filteredacGroup | async"
                            [value]="acGroupObj.name"
                            [id]="acGroupObj.id">
                  <span>{{acGroupObj.name}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="15" fxFlex.sm="50">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Account Head</mat-label>
              <input matInput
                     aria-label="ACHead"
                     [matAutocomplete]="auto2"
                     [formControl]="acHeadCtrl"
                     formControlName="AcHead" />
              <mat-error *ngIf="personalForm.controls.AcHead.errors?.required">Please select ACHead</mat-error>
              <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="onHeadChange($event.option.value)">
                <mat-option *ngFor="let acHeadObj of filteredacHead | async"
                            [value]="acHeadObj.name"
                            [id]="acHeadObj.id">
                  <span>{{acHeadObj.name}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="10" fxFlex.sm="50" class="pt-10">
            <mat-checkbox class="pl-10" checked>Active</mat-checkbox>
          </div>
        </div>
        <div class="white-block">
          <h3>Details</h3>
          <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>City</mat-label>
              <input matInput
                     aria-label="CityObj"
                     [matAutocomplete]="auto3"
                     [formControl]="cityCtrl"
                     formControlName="City" />
              <mat-error *ngIf="personalForm.controls.City.errors?.required">Please select City</mat-error>
              <mat-autocomplete #auto3="matAutocomplete">
                <mat-option *ngFor="let cityObj of filteredCity | async"
                            [value]="cityObj.name"
                            [id]="cityObj.id">
                  <span>{{cityObj.name}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="40" fxFlex.sm="50">
            <mat-form-field appearance="outline">
              <mat-label>Address</mat-label>
              <textarea matInput placeholder="Enter address" formControlName="Address" rows="1"></textarea>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
            <mat-form-field appearance="outline">
              <mat-label>Pan Number</mat-label>
              <input matInput autocomplete="off" placeholder="Pan Number" formControlName="PanNo" type="text">
              <mat-error *ngIf="personalForm.controls.PanNo.errors?.required">Pan number is required</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput autocomplete="off" placeholder="Email" formControlName="Email" type="text">
              <mat-error *ngIf="personalForm.controls.Email.errors?.required">Email is required</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
            <mat-form-field appearance="outline">
              <mat-label>GST No</mat-label>
              <input matInput autocomplete="off" placeholder="GST No" formControlName="Gstinno" type="text">
              <mat-error *ngIf="personalForm.controls.Gstinno.errors?.required">GST No is required</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
            <mat-form-field appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input matInput autocomplete="off" placeholder="Phone Number" formControlName="Phone" type="text">
              <mat-error *ngIf="personalForm.controls.Phone.errors?.required">Phone is required</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
            <mat-form-field appearance="outline">
              <mat-label>Telegram Id</mat-label>
              <input matInput autocomplete="off" placeholder="Telegram Id" formControlName="TelegramId" type="text">
              <mat-error *ngIf="personalForm.controls.TelegramId.errors?.required">Telegram is required</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
            <mat-form-field appearance="outline">
              <mat-label>Telegram No</mat-label>
              <input matInput autocomplete="off" placeholder="Telegram No" formControlName="TelegramNo" type="text">
              <mat-error *ngIf="personalForm.controls.TelegramNo.errors?.required">Telegram number is required</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
            <mat-checkbox class="pl-10" formControlName="ApplyTax">Apply Tax</mat-checkbox>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="40" fxFlex.sm="50">
            <mat-checkbox class="pl-10" formControlName="ApplyFutureCutBrok">Apply Future Cut Brok</mat-checkbox>
            <mat-checkbox class="pl-10 ml-7" formControlName="ApplyOptionCutBrok">Apply Option Cut Brok</mat-checkbox>
          </div>
        </div>
      </div>
      <div fxFlex="100" class="mt-2 text-center space-between-btns">
        <button mat-raised-button color="warn" type="button" (click)="close()">Cancel</button>
        <button mat-raised-button color="primary" class="uppercase" [disabled]="!personalForm.valid" type="submit">Save</button>
      </div>
    </form>
  </mat-tab>
  <mat-tab label="Tax Details">
    <form [formGroup]="taxForm" (ngSubmit)="onSubmitTax(taxForm.value)" fxLayout="row wrap" class="user-form">
      <div class="tab-tax-details-parent tab-party-details-parent">
        <div class="white-block">
          <h3>Tax Details</h3>
          <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Tax type</mat-label>
              <mat-select placeholder="Select Tax" formControlName="TaxType">
                <mat-option *ngFor="let tax of taxList" [value]="tax.id">
                  {{tax.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Exchange </mat-label>
              <mat-select placeholder="Select Exchange" formControlName="Exchange">
                <mat-option *ngFor="let exchange of exchangeList" [value]="exchange.id">
                  {{exchange.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
            <mat-form-field appearance="outline">
              <mat-label>Intraday Rate</mat-label>
              <input matInput autocomplete="off" placeholder="IntraDay" formControlName="IntraDayRate" type="text">
              <mat-error *ngIf="taxForm.controls.IntraDayRate.errors?.required">IntraDay is required</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="15" fxFlex.sm="50">
            <mat-form-field appearance="outline">
              <mat-label>From</mat-label>
              <input matInput [matDatepicker]="picker1">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="15" fxFlex.sm="50">
            <mat-form-field appearance="outline">
              <input matInput [matDatepicker]="picker2" placeholder="To">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>InsType</mat-label>
              <mat-select placeholder="Select InsType" formControlName="InsType">
                <mat-option [value]=1>
                  Future
                </mat-option>
                <mat-option [value]=2>
                  Option
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50">
            <mat-form-field appearance="outline">
              <mat-label>Delivery Rate</mat-label>
              <input matInput autocomplete="off" placeholder="DeliveryRate" formControlName="DeliveryRate" type="text">
              <mat-error *ngIf="taxForm.controls.DeliveryRate.errors?.required">DeliveryRate is required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="100" class="mt-2 text-center space-between-btns">
          <button mat-raised-button color="warn" type="button" (click)="close()">Cancel</button>
          <button mat-raised-button color="primary" class="uppercase" [disabled]="!taxForm.valid" type="submit">Save</button>
        </div>
      </div>
    </form>
    <div class="col-xl-12 mt-2">
      <ag-grid-angular style=" height: 300px;"
                       class="ag-theme-alpine"
                       [rowData]="accountList"
                       [pagination]="true"
                       [columnDefs]="columnDefs"
                       [defaultColDef]="agGridOptions.defaultColDef"
                       (cellClicked)="onGridClick($event)">
      </ag-grid-angular>
    </div>
  </mat-tab>





</mat-tab-group>

